<div class="jumbotron">
    <div class="container">
        <div class="col-xs-12">
            {% block title %}
                <h1>Integrating Mink + Behat in Symfony</h1>
            {% endblock title %}
            <hr>
            {% block subtitle %}
                <p>Welcome to the demo page for Mink Behat Don't go headless</p>
            {% endblock subtitle %}
        </div>
        {#<p><a class="btn btn-primary btn-lg" href="{{ url('products') }}" role="button">List Products &raquo;</a></p>#}
    </div>
</div>