# /app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.DS_Store
.idea
vendor (copy)
access*.log
error*.log
var/cache
var/logs
var/sessions
app/cache
app/logs
src/AppBundle/Tests/MinkBehatSolution/screenshots
src/AppBundle/Tests/MinkBehatSolution/screenshots/*.png
src/AppBundle/Tests/MinkBehatSolution/screenshots/*.html
vendor
/src/AppBundle/Tests/MinkBehatSolution/*
data/swiftmailer/spool/default/*
.vagrant
app/config/behat_solution.yml
src/AppBundle/Tests/MinkBehat/screenshots